---
import { markdownify } from "@/lib/utils/textConverter";

import { StickyScrollReveal } from "@/layouts/components/StickyScroll";

const { business } = Astro.props;
const { title, image, business_list } = business;
---

<section id="business" class="section scroll-mt-24">
  <div class="container">
    <div class="mx-auto">
      <h2 class="text-xl md:text-3xl font-bold text-center">{title}</h2>
      <StickyScrollReveal
        business_list={business_list}
        client:load
      />
    </div>
  </div>
</section>

<script>
  import Shuffle from "shufflejs";
  const element = document.getElementById("photo-gallery");
  const sizer = element?.querySelector(".js-shuffle-sizer");
  // Assumes you're using the UMD version of Shuffle (for example, from unpkg.com).
  const shuffleInstance = new Shuffle(element as HTMLElement, {
    itemSelector: ".picture-item",
    sizer: sizer as HTMLElement,
    columnWidth: 1,
  });
</script>
