---
import HomepageTab from "@/layouts/function-components/HomepageTab";
import VideoComponent from "@/layouts/function-components/VideoComponent";
import { AiFillCheckCircle } from "react-icons/ai";
import { Image } from "astro:assets";
const { event } = Astro.props;
const { title, description, projects } = event;
---

<section id="event" class="section services scroll-mt-24">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2 class="text-3xl font-medium">{title}</h2>
        <p class="mt-4">{description}</p>
      </div>
    </div>
    <div class="col-12 ">
      <div class="row">
        {
          projects.map((item: any, index: number) => (
            <div class="lg:col-6">
              <div
                class={`flex items-center space-x-4 rounded-lg bg-[#fafafa] px-6 py-8 lg:mt-6  ${
                  projects.length - 1 === index ? "mb-0" : "mb-6 "
                } `}
              >
                <div class="relative inline-flex h-24 w-24 items-center justify-center p-3">
                  <span class="project-icon text-[#FA7398]">
                    {" "}
                    {/* <FeatherIcon class="font-semibold" /> */}
                  </span>
                  <svg
                    class="absolute left-0 top-0 h-full w-full"
                    width="90"
                    height="90"
                    viewBox="0 0 90 90"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="0.1"
                      d="M42.8833 0.00928958C63.2143 -0.38584 82.2759 11.853 88.3264 31.1979C94.1797 49.9121 84.027 68.9907 68.0244 80.3913C52.4387 91.4948 31.5679 93.9094 16.0849 82.6642C0.66775 71.4667 -3.27813 50.9537 2.58684 32.8642C8.48561 14.6704 23.699 0.382132 42.8833 0.00928958Z"
                      fill="#FFCC99"
                    ></path>
                  </svg>
                </div>
                <div>
                  <h3 class="h5 font-primary">{item.title}</h3>
                  <p class="mt-4">{item.content} </p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
