---
import HomepageTab from "@/layouts/function-components/HomepageTab";
import VideoComponent from "@/layouts/function-components/VideoComponent";
import { AiFillCheckCircle } from "react-icons/ai";
import { Image } from "astro:assets";
const { event } = Astro.props;
const { title, description, projects } = event;
---

<section id="event" class="section services scroll-mt-24">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2 class="text-3xl font-medium">{title}</h2>
        <p class="mt-4">{description}</p>
      </div>
    </div>
    <div class="col-12 ">
      <div class="row">
        {
          projects.map((item: any, index: number) => (
            <div class="lg:col-6">
              <div
                class={`flex items-center space-x-4 rounded-lg bg-[#fafafa] px-6 py-8 lg:mt-6  ${
                  projects.length - 1 === index ? "mb-0" : "mb-6 "
                } `}
              >
                <div>
                  <h3 class="h5 font-primary">{item.title}</h3>
                  <p class="mt-4">{item.content} </p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
