---
import GlobalProSlider from "@/layouts/function-components/GlobalProSlider";
const { global_pro } = Astro.props;
---

<section class="reviews">
  <div class="container">
    <div class="row justify-between">
      <div class="lg:col-6">
        <h2>{global_pro.title}</h2>
      </div>
      <div class="lg:col-4">
        <p>
          {global_pro.description}
        </p>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-12">
        <GlobalProSlider list={global_pro.pro_list} client:load />
      </div>
    </div>
  </div>
</section>
