---
import HomepageTab from "@/layouts/function-components/HomepageTab";
import VideoComponent from "@/layouts/function-components/VideoComponent";
import { AiFillCheckCircle } from "react-icons/ai";
import { Image } from "astro:assets";
const { strengths } = Astro.props;
const { title, description } = strengths;
---

<section class="section services">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2>{title}</h2>
        <p class="mt-4">{description}</p>
      </div>
    </div>
    
  </div>
</section>
