---
const { strengths } = Astro.props;
const { title, image_url, description } = strengths;
---

<section id="strengths" class="section services scroll-mt-24">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2 class="text-xl md:text-3xl font-bold">{title}</h2>
        <div class="my-8 flex justify-center">
          <img src={image_url} alt={title} />
        </div>
        <p class="mt-4">{description}</p>
      </div>
    </div>
    
  </div>
</section>
