---
import { HeaderTitle } from "@/layouts/components/react-ui/header-title";

const { banner } = Astro.props;
const { image, image_sp } = banner;
---

<section id="banner" class="relative scroll-mt-24">
  <div class="w-full h-full">
    <div class="w-full md:h-[100svh]">
      <div class="bg-black/10 absolute top-0 left-0 w-full h-full" />
      <img src={image} alt="banner" class="w-full md:h-full md:object-cover md:animate-scale-down" />
    </div>

    <div class="absolute top-0 left-0 w-full h-full" />
  </div>
</section>

<style>
  @keyframes scaleDown {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }

  .animate-scale-down {
    animation: scaleDown 5s ease-out forwards;
  }
</style>
